include _navbar
div.container
    header
        h1= title
    section#braves
        each brave, i in braves
            if i % 3 == 0
                | <div class='row'>
            div.span4
                a.brave-detail-link(href="/braves/#{brave.hash}")
                    div.well.brave-box
                        div.row-fluid
                            div.span3
                                i.icon-user
                            div.span9
                                ul.unstyled
                                    li
                                        strong 勇者
                                        #{brave.name}
                                    li
                                        strong HP
                                        #{brave.hp}/#{brave.maxhp}
                                    li
                                        strong MP
                                        #{brave.mp}/#{brave.maxmp}
            if i % 3 == 2
                | </div>
        unless braves.length % 3 == 0
            | </div>
