div.navbar
    div.navbar-inner
        div.container
            a.brand(href='#') trifolium
div.container
    header
        h1 イベント履歴
    section#brave-log-list
        div
            each log in logs
                if log.isSucceed
                    div.alert.alert-success
                        i.icon-user
                        span 勇者#{log.brave}は#{log.others.treasure.name}を手に入れた!
                else
                    if log.others
                        div.alert
                            i.icon-user
                            span 勇者#{log.brave}は#{log.others.treasure.name}を見つけたが、持ち物がいっぱいなのであきらめた…
                    else
                        div.alert
                            i.icon-user
                            span 勇者#{log.brave}はアイテムを見つけられなかった…
