include _navbar
div.container
    header
        h1= title
    section#history
        div
            each log in logs
                if log.isSucceed
                    div.alert.alert-success
                        h4
                            i.icon-time
                            #{log.gamedate}
                        i.icon-user
                        a(href="/braves/#{log.brave.hash}") 勇者#{log.brave.name}
                        は#{log.others.treasure.name}を手に入れた!
                else
                    if log.others
                        div.alert
                            h4
                                i.icon-time
                                #{log.gamedate}
                            i.icon-user
                            a(href="/braves/#{log.brave.hash}") 勇者#{log.brave.name}
                            は#{log.others.treasure.name}を見つけたが、持ち物がいっぱいなのであきらめた…
                    else
                        div.alert
                            h4
                                i.icon-time
                                #{log.gamedate}
                            i.icon-user
                            a(href="/braves/#{log.brave.hash}") 勇者#{log.brave.name}
                            はアイテムを見つけられなかった…
